./__cmake
./__cmake/*
./build
./build/*

ffmpeg_source/ffmpeg_g
ffmpeg_source/ffplay
ffmpeg_source/ffplay_g
ffmpeg_source/ffprobe_g
ffmpeg_source/libavcodec/libavcodec.pc
ffmpeg_source/libavcodec/libavcodec.ver
ffmpeg_source/libavcodec/libavcodec.version
ffmpeg_source/libavfilter/libavfilter.pc
ffmpeg_source/libavfilter/libavfilter.ver
ffmpeg_source/libavfilter/libavfilter.version
ffmpeg_source/libavformat/libavformat.pc
ffmpeg_source/libavformat/libavformat.ver
ffmpeg_source/libavformat/libavformat.version
ffmpeg_source/libavutil/libavutil.pc
ffmpeg_source/libavutil/libavutil.ver
ffmpeg_source/libavutil/libavutil.version
ffmpeg_source/libpostproc/libpostproc.pc
ffmpeg_source/libpostproc/libpostproc.ver
ffmpeg_source/libpostproc/libpostproc.version
ffmpeg_source/libswresample/libswresample.pc
ffmpeg_source/libswresample/libswresample.ver
ffmpeg_source/libswresample/libswresample.version
ffmpeg_source/libswscale/libswscale.pc
ffmpeg_source/libswscale/libswscale.ver
ffmpeg_source/libswscale/libswscale.version

*.obj
*.d
*.bak
ffmpeg
fflay
ffprobe
tags

*.log

############################## MacOS  ##############################
.DS_Store
._.DS_Store
Thumbs.db

############################## IDE    ##############################
.vscode/

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

